@model IEnumerable<BlogWeb.DL.Models.AboutUs>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    @{
        int adet= Convert.ToInt16(TempData["AboutUsCount"]); 
    }
    @if(adet==0){ 
        
        <div class="alert alert-warning" role="alert"> <h6>Hakkımızda mevcut değil.</h6></div>


        <a asp-controller="Admin" asp-action="AboutUsCreate" class="btn btn-primary mx-2">Hemen Ekle</a>
    }

@foreach (var item in Model)
{
      <div class="card-header">
        Hakkımızda
      </div>
      <div class="card-body">

        <p class="card-text">@item.Text</p> 
        <br>
        <a asp-controller="Admin" asp-action="AboutUsEdit" asp-route-id="@item.Id" class="btn btn-primary mx-2">Düzenle</a> &nbsp;  / &nbsp;
         <a href="~/Admin/AboutUsDelete/@item.Id" class="btn btn-danger">Sil</a>
      </div>
}
