@model IEnumerable<BlogWeb.DL.Models.AboutUs>
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int adet = Convert.ToInt16(TempData["AboutUsCount"]);
    int EklemeSonuc = Convert.ToInt16(TempData["EklemeSonuc"]);
    int GüncellemeSonuc = Convert.ToInt16(TempData["GüncellemeSonuc"]);
}
@if (adet == 0)
{
    <div class="alert alert-dismissible alert-warning">
        <h4 class="alert-heading">Uyarı!</h4>
        <p class="mb-0" style="color:black;">Henüz Hakkımızda Eklemediniz.</p>
    </div>

    <a asp-controller="Admin" asp-action="AboutUsCreate" class="btn btn-success mx-2">Hemen Ekle</a>
}


@if (EklemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">
        @*<button type="button" class="btn-close" data-bs-dismiss="alert"></button>*@
        <strong>Ekleme Başarılı!</strong> <p> Hakkımızda Başarılı Bir şekilde Eklendi</p>
    </div>
}
@if (GüncellemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">
        <strong>Güncelleme Başarılı!</strong> <p> Hakkımızda Başarılı Bir Şekilde Güncellendi</p>
    </div>
}

@foreach (var item in Model)
{

    <div class="card-body" style="max-width:85%;">
      
        @Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text))

        <br>
            <a href="/HakkimizdaDuzenle/@item.Id" class="btn btn-warning mx-1">Düzenle</a>
        <a onclick="deneme(@item.Id)" class="btn btn-danger">Sil</a>
    </div>
}

<script>
    function deneme(id) {
        swal({
            title: "Emin misiniz?",
            text: "Hakkımızda bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/AboutUsDelete/' + id),
                        swal("Poof! Hakkımızda Silindi!", {
                            icon: "success",
                        });
                }
            });
    }

</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


