@model BlogWeb.DL.Models.AboutUs
@{
    ViewData["Title"] = "AboutUsCreate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Hakkımızda Ekle</h3> <hr />
        </div>
        <div class="mb-3">
            <input asp-for="Text" placeholder="Metin Giriniz..." class="form-control" />
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
        <a asp-controller="Admin" asp-action="AboutUs" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>
</form>