@model IEnumerable<BlogWeb.DL.Models.AboutUs>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>AboutUs</h1>

<table class="table table-bordered table-striped" style="width:100%;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Hakkımızda</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td width:30%;>@item.Text</td>
            <td><div class="w-75 btn-group">
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2">Edit</a> &nbsp;  / &nbsp;
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">Delete</a>
                <a></a>
            </div></td>
        </tr>     
        }
       
    </tbody>

</table>