@model IEnumerable<BlogWeb.DL.Models.AboutUs>
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    @{
        int adet= Convert.ToInt16(TempData["AboutUsCount"]); 
    }
    @if(adet==0){ 
        
        <div class="alert alert-warning" role="alert"> <h6>Hakkımızda mevcut değil.</h6></div>
        <a asp-controller="Admin" asp-action="AboutUsCreate" class="btn btn-primary mx-2">Hemen Ekle</a>
    }

@foreach (var item in Model)
{
      
      <div class="card-body" style="max-width:85%;">

        <p class="card-text">@item.Text</p> 
        <br>
        <a asp-controller="Admin" asp-action="GetAbout" asp-route-id="@item.Id" class="btn btn-secondary mx-1">Düzenle</a>
        <a onclick="deneme(@item.Id)" class="btn btn-danger">Sil</a>
      </div>
}

<script>
    function deneme(id) {
        swal({
            title: "Emin misiniz?",
            text: "Hakkımızda bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/Admin/AboutUsDelete/' + id),
                        swal("Poof! Hakkımızda Silindi!", {
                            icon: "success",
                        });
                } 
            });
    }

</script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
