@model BlogWeb.DL.Models.Contact

@{
    ViewData["Title"] = "ContactDelete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" asp-action="ContactDeletePOST">
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>İletişim sil</h3> <hr />
        </div>
        <div class="mb-3">
            <input asp-for="EmailAddress" disabled class="form-control" />
            <input asp-for="Phone" disabled class="form-control" />
            <input asp-for="Address" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
        <a asp-controller="Admin" asp-action="Contact" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>
</form>


