@model BlogWeb.DL.Models.Category
@{
    ViewData["Title"] = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form method="post" asp-action="CategoryEdit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h4>Kategori Düzenle</h4> <hr />
        </div>
        <input asp-for="CategoryId" hidden />
        <div class="mb-3">
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success" style="width:150px">Düzenle</button>
        <a asp-controller="Admin" asp-action="Category" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>
</form>


