@model IEnumerable<BlogWeb.DL.Models.Subscriber>
@{
    ViewData["Title"] = "Aboneler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    int adet = Convert.ToInt16(TempData["SubscriberCount"]);
    int EklemeSonuc = Convert.ToInt16(TempData["EklemeSonuc"]);
    int GüncellemeSonuc = Convert.ToInt16(TempData["GüncellemeSonuc"]);
}
@if (adet == 0)
{
    <div class="alert alert-info" role="alert"> <h6>Abone yok</h6></div>
    <a href="/AboneEkle" class="btn btn-success mx-2">Hemen Ekle</a>
}
@if (EklemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">

        <strong>Ekleme Başarılı!</strong> <p> Abone Başarılı Bir şekilde Eklendi</p>
    </div>
}
@if (GüncellemeSonuc == 1)
{
    <div class="alert alert-dismissible alert-success">
        <strong>Güncelleme Başarılı!</strong> <p> Abone Başarılı Bir Şekilde Güncellendi</p>
    </div>
}


<table class="table table-hover" style="width:100%;">
    <thead class="">
        <tr>
            <th>Aboneler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="row">
                <td class="col-md-8 "> &nbsp; @item.SubscriberMail</td>
                <td class="col-md-4">
                    <div class="btn-group">
                        <a onclick="sil(@item.Id)" class="btn btn-danger">Abonelikten Çıkar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function sil(id) {
        swal({
            title: "Emin misiniz?",
            text: "Abone bilgisini silmek için emin misiniz?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.replace('/AboneSil/' + id),
                        swal("Poof! Abone Silindi!", {
                            icon: "success",
                        });
                }
            });
    }

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

