@model BlogWeb.DL.Models.Category

@{
    ViewData["Title"] = "Kategori Sil";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" asp-action="CategoryDeletePOST">
       <input asp-for="CategoryId" hidden/>

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h3>Kategori sil</h3> <hr />
        </div>
        <div class="mb-3">
            <input asp-for="CategoryName" disabled class="form-control" />
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
        <a asp-controller="Admin" asp-action="Category" class="btn btn-secondary" style="width:150px">Geri Dön</a>
    </div>
</form>

