@model BlogWeb.DL.Models.Blog
@{
    ViewData["Title"] = "Makale Düzenle";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


</head>


<h4>Makale Yayınla</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="BlogEdit" asp-controller="User" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="BlogId" class="form-control" hidden />

            <div class="form-group">
                <input asp-for="BlogTitle" value="@ViewBag.getBlog.BlogTitle" class="form-control" placeholder="Makale Başlık" />
                <span asp-validation-for="BlogTitle" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                @Html.TextAreaFor(m => m.Text,10,40, new { @class = "form-control textarea",  })
                <span asp-validation-for="Text" class="text-danger"></span> <br />
            </div>
            <div class="row">

                <input asp-for="ImageUrl" hidden />
                <input asp-for="Date" hidden />

                <div class="col-md-4">
                    <label class="control-label">Makale Kategori Seçiniz</label>
                    <select asp-for="CategoryId" asp-items="@ViewBag.v" class="form-select">
                        <option disabled selected value="@ViewBag.getCategory.CategoryName"></option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

            </div>
            <br />

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>


<script>
    $('.textarea').summernote({
        placeholder: 'İçerik Giriniz.',
        tabsize: 5,
        height: 250
    });
</script>





