

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="row">
    <h3>Hoşgeldin @ViewBag.user.FirstName</h3>
    <div class="col-md-4">
        <div class="card mb-3 widget-chart">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-primary"></div>
                <i class="ti-book text-edit"></i>
            </div>
            <div class="widget-numbers"><span>@ViewBag.userBlogCount</span></div>
            <div class="widget-subheading">Toplam Yayınladığınız Makale Sayısı</div>

        </div>
    </div>
  
      <div class="col-md-4">
        <div class="card mb-3 widget-chart">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-primary"></div>
                <i class="ti-book text-edit"></i>
            </div>
            <div class="widget-numbers"><span>@ViewBag.BlogOnayBekleyen</span></div>
            <div class="widget-subheading">Onay Bekleyen Makale Sayısı</div>

        </div>
    </div>


</div>

