@model IEnumerable<BlogWeb.DL.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>User Index</h1>

@*
<p>Hoşgeldiniz :  @TempData["username"]</p>
*@
