<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    @*  Yazı fontu için*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alexandria&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="~/images/logo1.ico">


   
        
  

    <style>
        * {
            font-family: 'Alexandria', sans-serif;
        }
    </style>


    <link rel="stylesheet" href="~/css/bootstrap.css" />  @*eklendi*@

    @*<link rel="stylesheet" href="~/Admin/css/bootstrap1.min.css" />*@
    <link rel="stylesheet" href="~/Admin/vendors/themefy_icon/themify-icons.css" />

    <link rel="stylesheet" href="~/Admin/vendors/niceselect/css/nice-select.css" />

    <link rel="stylesheet" href="~/Admin/vendors/owl_carousel/css/owl.carousel.css" />

    <link rel="stylesheet" href="~/Admin/vendors/gijgo/gijgo.min.css" />

    <link rel="stylesheet" href="~/Admin/vendors/font_awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Admin/vendors/tagsinput/tagsinput.css" />

    <link rel="stylesheet" href="~/Admin/vendors/datepicker/date-picker.css" />
    <link rel="stylesheet" href="~/Admin/vendors/vectormap-home/vectormap-2.0.2.css" />

    <link rel="stylesheet" href="~/Admin/vendors/scroll/scrollable.css" />

    <link rel="stylesheet" href="~/Admin/vendors/datatable/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/Admin/vendors/datatable/css/responsive.dataTables.min.css" />
    <link rel="stylesheet" href="~/Admin/vendors/datatable/css/buttons.dataTables.min.css" />

    <link rel="stylesheet" href="~/Admin/vendors/text_editor/summernote-bs4.css" />

    <link rel="stylesheet" href="~/Admin/vendors/morris/morris.css">

    <link rel="stylesheet" href="~/Admin/vendors/material_icon/material-icons.css" />

    <link rel="stylesheet" href="~/Admin/css/metisMenu.css">

    <link rel="stylesheet" href="~/Admin/css/style1.css" />
    <link rel="stylesheet" href="~/Admin/css/colors/default.css" id="colorSkinCSS">
</head>
<body class="crm_body_bg">


    <nav class="sidebar vertical-scroll  ps-container ps-theme-default ps-active-y">
        <div class="logo d-flex justify-content-between">
            <a href="~/Yonetici"><img src="~/images/logo1.png" alt="" style="max-height:100px;"></a>
            <div class="sidebar_close_icon d-lg-none">
                <i class="ti-close"></i>
            </div>
        </div>
        <ul id="sidebar_menu">
            <li class="mm-active" ><a href="~/Anasayfa">Anasayfa</a></li>


              <li class="mm-active" ><a href="~/Yonetici">Panel</a></li>

            <li class="mm-active">
                <a class="has-arrow" aria-expanded="false">
                    <span>Makaleler</span>
                </a>
                <ul>
                    <li><a href="~/Makaleler">Tüm Makaleler</a></li>
                    <li><a href="~/MakaleOnayListesi">Onay Bekleyenler</a></li>
                    <li><a href="~/Makalelerim">Makalelerim</a></li>
                    <li><a href="~/MakaleOlustur">Makale Yayınla</a></li>

                </ul>
            </li>
            <li class="">
                <a class="has-arrow" aria-expanded="false">
                   
                    <span>Sayfa Düzenle</span>
                </a>

                <ul>
                    <li><a href="/YoneticiHakkimizda">Hakkımızda</a></li>
                </ul>
                <ul>
                    <li><a href="/YoneticiKategori">Kategoriler</a></li>
                </ul>
                <ul>
                    <li><a href="/YoneticiIletisim">İletişim</a></li>
                </ul>
               @* <ul>
                    <li><a href="/AboneListesi">Aboneler</a></li>
                </ul>*@
            </li>

        </ul>
    </nav>

    <section class="main_content dashboard_part large_header_bg">

        <div class="container-fluid g-0">
            <div class="row">
                <div class="col-lg-12 p-0">
                    <div class="header_iner d-flex justify-content-between align-items-center">
                        <div class="sidebar_icon d-lg-none">
                            <i class="ti-menu"></i>
                        </div>
                        <div class="serach_field-area d-flex align-items-center">
                           
                        </div>
                        <div class="header_right d-flex justify-content-between align-items-center">

                            <div class="profile_info">
                                <img src="~/Images/user1.png" alt="#">
                                <div class="profile_info_iner">
                                    <div class="profile_author_name">
                                        <p>Admin</p>
                                    </div>
                                    <div class="profile_info_details">
                                        <a href="~/Profilim/@ViewBag.user.UserId">Profilim </a>
                                        <a href="~/CikisYap">Çıkış Yap </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            @RenderBody()
        </div>

     
    </section>

    <div id="back-top" style="display: none;">
        <a title="Go to Top" href="~/Admin/#">
            <i class="ti-angle-up"></i>
        </a>
    </div>

    <script src="~/Admin/js/jquery1-3.4.1.min.js"></>

    <script src="~/Admin/~/Admin/js/popper1.min.js"></script>

    <script src="~/Admin/~/Admin/js/bootstrap.min.html"></script>

    <script src="~/Admin/js/metisMenu.js"></script>

    <script src="~/Admin/vendors/count_up/jquery.waypoints.min.js"></script>

    <script src="~/Admin/vendors/chartlist/Chart.min.js"></script>

    <script src="~/Admin/vendors/count_up/jquery.counterup.min.js"></script>

    <script src="~/Admin/vendors/niceselect/js/jquery.nice-select.min.js"></script>

    <script src="~/Admin/vendors/owl_carousel/js/owl.carousel.min.js"></script>

    <script src="~/Admin/vendors/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/buttons.flash.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/jszip.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/pdfmake.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/vfs_fonts.js"></script>
    <script src="~/Admin/vendors/datatable/js/buttons.html5.min.js"></script>
    <script src="~/Admin/vendors/datatable/js/buttons.print.min.js"></script>

    <script src="~/Admin/vendors/datepicker/datepicker.js"></script>
    <script src="~/Admin/vendors/datepicker/datepicker.en.js"></script>
    <script src="~/Admin/vendors/datepicker/datepicker.custom.js"></script>
    <script src="~/Admin/js/chart.min.js"></script>
    <script src="~/Admin/vendors/chartjs/roundedBar.min.js"></script>

    <script src="~/Admin/vendors/progressbar/jquery.barfiller.js"></script>

    <script src="~/Admin/vendors/tagsinput/tagsinput.js"></script>

    <script src="~/Admin/vendors/text_editor/summernote-bs4.js"></script>
    <script src="~/Admin/vendors/am_chart/amcharts.js"></script>

    <script src="~/Admin/vendors/scroll/perfect-scrollbar.min.js"></script>
    <script src="~/Admin/vendors/scroll/scrollable-custom.js"></script>

    <script src="~/Admin/vendors/vectormap-home/vectormap-2.0.2.min.js"></script>
    <script src="~/Admin/vendors/vectormap-home/vectormap-world-mill-en.js"></script>

    <script src="~/Admin/vendors/apex_chart/apex-chart2.js"></script>
    <script src="~/Admin/vendors/apex_chart/apex_dashboard.js"></script>
    <script src="~/Admin/vendors/echart/echarts.min.js"></script>
    <script src="~/Admin/vendors/chart_am/core.js"></script>
    <script src="~/Admin/vendors/chart_am/charts.js"></script>
    <script src="~/Admin/vendors/chart_am/animated.js"></script>
    <script src="~/Admin/vendors/chart_am/kelly.js"></script>
    <script src="~/Admin/vendors/chart_am/chart-custom.js"></script>

    <script src="~/Admin/js/dashboard_init.js"></script>
    <script src="~/Admin/js/custom.js"></script>
</body>

</html>


