<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cütopya - @ViewData["Title"]</title>
    <link rel="icon" href="~/sensive/img/Fevicon.png" type="image/png">

    <link rel="stylesheet" href="~/sensive/vendors/bootstrap%2c_bootstrap.min.css%2bfontawesome%2c_css%2c_all.min.css%2bthemify-icons%2c_themify-icons.css%2blinericon%2c_style.css%2bowl-carousel%2c_owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/sensive/css/A.style.css.pagespeed.cf.aJGzVhjFcT.css">
    <script nonce="93b4cf69-a2c3-4644-8d2b-0e0f02390963">(function(w, d) { !function(Z, _, ba, bb) { Z.zarazData = Z.zarazData || {}; Z.zarazData.executed = []; Z.zaraz = { deferred: [], listeners: [] }; Z.zaraz.q = []; Z.zaraz._f = function(bc) { return function() { var bd = Array.prototype.slice.call(arguments); Z.zaraz.q.push({ m: bc, a: bd }) } }; for (const be of ["track", "set", "debug"]) Z.zaraz[be] = Z.zaraz._f(be); Z.zaraz.init = () => { var bf = _.getElementsByTagName(bb)[0], bg = _.createElement(bb), bh = _.getElementsByTagName("title")[0]; bh && (Z.zarazData.t = _.getElementsByTagName("title")[0].text); Z.zarazData.x = Math.random(); Z.zarazData.w = Z.screen.width; Z.zarazData.h = Z.screen.height; Z.zarazData.j = Z.innerHeight; Z.zarazData.e = Z.innerWidth; Z.zarazData.l = Z.location.href; Z.zarazData.r = _.referrer; Z.zarazData.k = Z.screen.colorDepth; Z.zarazData.n = _.characterSet; Z.zarazData.o = (new Date).getTimezoneOffset(); Z.zarazData.q = []; for (; Z.zaraz.q.length;) { const bl = Z.zaraz.q.shift(); Z.zarazData.q.push(bl) } bg.defer = !0; for (const bm of [localStorage, sessionStorage]) Object.keys(bm || {}).filter((bo => bo.startsWith("_zaraz_"))).forEach((bn => { try { Z.zarazData["z_" + bn.slice(7)] = JSON.parse(bm.getItem(bn)) } catch { Z.zarazData["z_" + bn.slice(7)] = bm.getItem(bn) } })); bg.referrerPolicy = "origin"; bg.src = "~/sensive/../../cdn-cgi/zaraz/sd0d9.js?z=" + btoa(encodeURIComponent(JSON.stringify(Z.zarazData))); bf.parentNode.insertBefore(bg, bf) };["complete", "interactive"].includes(_.readyState) ? zaraz.init() : Z.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, 0, "script"); })(window, document);</script>
</head>
<body>

    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container box_1620">

                    <a class="navbar-brand logo_h" href="/Anasayfa"><img src="~/sensive/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav justify-content-center">
                            <li class="nav-item"><a class="nav-link" href="/Anasayfa">Anasayfa</a></li>
                            <li class="nav-item submenu dropdown">
                                 @await Component.InvokeAsync("NavGet")
                            </li>
                           
                            <li class="nav-item"><a class="nav-link" href="/Hakkimizda">Hakkımızda</a></li>
                            <li class="nav-item"><a class="nav-link" href="/Iletisim">İletişim</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="~/sensive/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="~/Home/SignIn">Giriş Yap</a></li>
                                    <li class="nav-item"><a class="nav-link" href="~/Home/Registration">Kayıt Ol</a></li>
                                </ul>
                            </li>

                        </ul>
                        <ul class="nav navbar-nav navbar-right navbar-social">
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li><a href="https://instagram.com/cutopya?igshid=YmMyMTA2M2Y="><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <main class="site-main">

        @RenderBody()
    </main>


    <footer class="footer-area section-padding">
        <div class="container">
            <div class="row">             
                        @await Component.InvokeAsync("AboutGet")     
                        
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                     @*   @await Component.InvokeAsync("SubscriberGet")*@
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Bizi Takip Edin</h6>
                        <p>Sosyal medya hesapları</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-dribbble"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-behance"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved 
                </p>
            </div>
        </div>
    </footer>

    <script src="~/sensive/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/sensive/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/sensive/vendors%2c_owl-carousel%2c_owl.carousel.min.js%2bjs%2c_jquery.ajaxchimp.min.js%2bjs%2c_mail-script.js%2bjs%2c_main.js.pagespeed.jc.QQhI14LuAM.js"></script>
    <script>eval(mod_pagespeed_2rTvleU7$q);</script>
    <script>eval(mod_pagespeed_ZtG6nSUy9D);</script>
    <script>eval(mod_pagespeed_BZ6fs3xjMU);</script>
    <script>eval(mod_pagespeed_dVWZN_EmGh);</script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="~/sensive/https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194" integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw==" data-cf-beacon='{"rayId":"75d31e4398a9c1b4","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.10.3","si":100}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/sensive/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Oct 2022 16:27:10 GMT -->
</html>