@model List<BlogWeb.DL.Models.Category>

<div class="single-sidebar-widget post-category-widget">
    <h4 class="single-sidebar-widget__title">Catgory</h4>
    @foreach (var item in Model)
    {
        <ul class="cat-list mt-20">
            <li>
                <a class="d-flex justify-content-between">
                    <p>@item.CategoryName</p>
                </a>
            </li>

        </ul>
    }

</div>
