@model IEnumerable<BlogWeb.DL.Models.AboutUs>
@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mb-30px">
    <div class="container">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>Hakkımda</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Hakkımda</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="blog-post-area section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main_blog_details">
                    <h2>
                        @foreach (var item in Model)
                        {
                             @Html.Raw(System.Web.HttpUtility.HtmlDecode(@item.Text))
                          @*  @item.Text*@
                        }
                    </h2>
                </div>

            </div>

            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget popular-post-widget">
                        <h4 class="single-sidebar-widget__title">Son Makaleler</h4>
                        @await Component.InvokeAsync("RecentArticlesGet")
                    </div>
                    @await Component.InvokeAsync("CategoryGet")
                  
                </div>
            </div>
        </div>

    </div>
</section>
