@model BlogWeb.DL.Models.Message
@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var contacts = (List<BlogWeb.DL.Models.Contact>)ViewBag.Contact;
}

<section class="mb-30px">
    <div class="container">
        <div class="hero-banner hero-banner--sm">
            <div class="hero-banner__content">
                <h1>İletişim</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Anasayfa">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">İletişim</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section class="section-margin--small section-margin">
    <div class="container">
        @foreach (var item in contacts)
        {
            <div class="row">
                <div class="col-md-6">

                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-home"></i></span>
                        <div class="media-body">
                            <h3>Adres </h3>
                            <p>@item.Address</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="media contact-info">
                        <span class="contact-info__icon"><i class="ti-email"></i></span>
                        <div class="media-body">
                            <h3>Mail Adresi</h3>
                            <p><a style="color:#797979" href="mailto:@item.EmailAddress">@item.EmailAddress</a></p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="d-none d-sm-block mb-5 pb-4">
                <iframe src="https://maps.google.com/maps?width=100%25&amp;hl=en&amp;q=@item.Address; t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" width="1100" height="600" style="border: 2px solid #ff9907;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        }
    </div>
</section>


