@model List<BlogWeb.DL.Models.Category>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hero-banner {
        background-image: url(~/sensive/img/blog/blog-slider/blog-slide1.png);
    }
</style>
<main class="site-main">

    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h1 id="title"></h1>
                </div>
            </div>
        </div>
    </section>
      @await Component.InvokeAsync("LastPostGet")
  


    <section class="blog-post-area section-margin mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    @await Component.InvokeAsync("BlogGet")

                </div>

                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="single-sidebar-widget__title">Son Makaleler</h4>
                            @await Component.InvokeAsync("RecentArticlesGet")
                        </div>
                        <!--Category-->
                        @await Component.InvokeAsync("CategoryGet")
                        @await Component.InvokeAsync("SubscriberGet")
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>



<script type="text/javascript">
    var i = 0, text;
    text = "Cütopya Forum";
    function typing() {
        if (i < text.length) {
            document.getElementById("title").innerHTML += text.charAt(i);

            i++;
            setTimeout(typing, 50);

        }
    }
    typing();


</script>