@model List<BlogWeb.DL.Models.Category>
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hero-banner {
        background-image: url(~/sensive/img/blog/blog-slider/blog-slide1.png);
    }
</style>
<main class="site-main">

    <section class="mb-30px">
        <div class="container">
            <div class="hero-banner">
                <div class="hero-banner__content">
                    <h1 id="title"></h1>
                </div>
            </div>
        </div>
    </section>
      @await Component.InvokeAsync("LastPostGet")
  


    <section class="blog-post-area section-margin mt-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">

                    @await Component.InvokeAsync("BlogGet")

                </div>

                <div class="col-lg-4 sidebar-widgets">
                    <div class="widget-wrap">
                        <div class="single-sidebar-widget popular-post-widget">
                            <h4 class="single-sidebar-widget__title">Popular Post</h4>
                            <div class="popular-post-list">
                                <div class="single-post-list">
                                    <div class="thumb">
                                        <img class="card-img rounded-0" src="~/sensive/img/blog/thumb/thumb1.png" alt="">
                                        <ul class="thumb-info">
                                            <li><a href="~/sensive/#">Adam Colinge</a></li>
                                            <li><a href="~/sensive/#">Dec 15</a></li>
                                        </ul>
                                    </div>
                                    <div class="details mt-20">
                                        <a href="~/sensive/blog-single.html">
                                            <h6>Accused of assaulting flight attendant miktake alaways</h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="single-post-list">
                                    <div class="thumb">
                                        <img class="card-img rounded-0" src="~/sensive/img/blog/thumb/thumb2.png" alt="">
                                        <ul class="thumb-info">
                                            <li><a href="~/sensive/#">Adam Colinge</a></li>
                                            <li><a href="~/sensive/#">Dec 15</a></li>
                                        </ul>
                                    </div>
                                    <div class="details mt-20">
                                        <a href="~/sensive/blog-single.html">
                                            <h6>
                                                Tennessee outback steakhouse the
                                                worker diagnosed
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="single-post-list">
                                    <div class="thumb">
                                        <img class="card-img rounded-0" src="~/sensive/img/blog/thumb/thumb3.png" alt="">
                                        <ul class="thumb-info">
                                            <li><a href="~/sensive/#">Adam Colinge</a></li>
                                            <li><a href="~/sensive/#">Dec 15</a></li>
                                        </ul>
                                    </div>
                                    <div class="details mt-20">
                                        <a href="~/sensive/blog-single.html">
                                            <h6>
                                                Tennessee outback steakhouse the
                                                worker diagnosed
                                            </h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Category-->
                        @await Component.InvokeAsync("CategoryGet")
                        @await Component.InvokeAsync("SubscriberGet")
                    </div>
                </div>
            </div>

        </div>
    </section>

</main>



<script type="text/javascript">
    var i = 0, text;
    text = "Cütopya Forum";
    function typing() {
        if (i < text.length) {
            document.getElementById("title").innerHTML += text.charAt(i);

            i++;
            setTimeout(typing, 50);

        }
    }
    typing();


</script>