@model BlogWeb.DL.Models.UserModel
@{
    ViewData["Title"] = "Registration";
    Layout = null;
}




<!DOCTYPE html>
<html lang="tr">
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/loginTemp/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/loginTemp/css/main.css">
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" method="post" asp-action="Registration">
                    <span class="login100-form-title p-b-26">
                        Kayıt Ol
                    </span>

                    <span class="login100-form-title p-b-48">
                        <img src="~/images/logo1.png" alt="" style="max-height:100px">
                    </span>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="FirstName" type="text">
                        <span asp-validation-for="FirstName" class="focus-input100" data-placeholder="İsim"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="LastName" type="text">
                        <span asp-validation-for="LastName" class="focus-input100" data-placeholder="Soyisim"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <input class="input100" asp-for="Email" type="email">
                        <span asp-validation-for="Email" class="focus-input100" data-placeholder="Mail Adresi"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" asp-for="Password" type="password">
                        <span class="focus-input100" asp-validation-for="Password" data-placeholder="Şifre"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn" type="submit">
                                Kayıt Ol
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-55">
                        <span class="txt1">
                            Hesabın var mı?
                        </span>

                        <a href="/GirisYap" style="text-decoration-line:underline; color:darkviolet"> Hemen giriş yap</a>


                    </div>

                    <div class="text-center p-t-55">

                        <a href="/Anasayfa" style="text-decoration-line:underline;"> Anasayfaya Dön </a>

                    </div>

                </form>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <script src="~/loginTemp/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/loginTemp/vendor/animsition/js/animsition.min.js"></script>
    <script src="~/loginTemp/vendor/bootstrap/js/popper.js"></script>
    <script src="~/loginTemp/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/loginTemp/vendor/select2/select2.min.js"></script>
    <script src="~/loginTemp/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/loginTemp/vendor/daterangepicker/daterangepicker.js"></script>
    <script src="~/loginTemp/vendor/countdowntime/countdowntime.js"></script>
    <script src="~/loginTemp/js/main.js"></script>

</body>
</html>


@*














<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />
<!-- MDB -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet" />


<div class="row m-5">
    <div class="col-md-4">

        <!-- Pills content -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form asp-action="Registration">
                    <div class="text-center mb-3">
                        <p>Kayıt Ol</p>
                    </div>
                    <br />
                    <!-- Email input -->


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="LastName" type="text" class="form-control" />
                        <label class="form-label">Soyisim</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>


                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Email" type="email" class="form-control" />
                        <label class="form-label">Mail Adresi</label>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Password" type="password" id="password" class="form-control" />
                        <label class="form-label">Şifre</label>
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                    <div class="form-outline mb-4">
                        <label>Şifreyi Göster</label> <i class="fa fa-eye-slash" onclick="SifreGoster()"></i>
                    </div>

                    <!-- 2 column grid layout -->
                    <div class="row mb-4">
                        <div class="col-md-4 d-flex ">
                            <!-- Simple link -->
                            <a href="~/User/SignIn">Hesabım var</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Kayıt Ol</button>
                </form>
            </div>

        </div>
        <!-- Pills content -->

    </div>

</div>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>

<script>
    function SifreGoster() {
        var element = document.getElementById('password');
        element.type = (element.type == 'password' ? 'text' : 'password');
    }

</script>
*@
